body
{
    display:flex;
    flex-direction:column;
}
.buttons{
    display:flex;
    justify-content:space-between;
}
.scissors{
    flex:1;
}
.rock{
    flex:1;
}
.paper{
    flex:1;
}
.players{
    display:flex;
    justify-content:flex-start;
    gap:50px;
}
.computerScore, .playerScore, .plscore, .cscore{
    font-weight:bolder;
    font-size:100px;
}
.computers{
    display:flex;
    justify-content:flex-start;
}